/* importación de íconos de FlatIcon */
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');

*{
    margin: 0;
    padding: 0;

}
body{
    background: rgb(230,230,230);
    color: #000;
    font-family: 'Kanit', sans-serif;

}

.contenedor{


    width: 96%;
    max-width: 1300px;
    display: grid;

    gap: 0.1rem;
    margin: 0.3rem auto;
    box-sizing: border-box;

    grid-template-columns: 1fr;
}


.contenedor > div,
.contenedor .nav,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .pie {
    padding: 1rem;
    border-radius: 4px;
    box-sizing: border-box;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: -5px 2px 20px gray;

}


/* ---- estilo header ---- */
.contenedor .encabezado{
    background: #0b2239;
    color: #fff;
    font-family: kanit;
    font-weight: 900;
    font-size:xx-large;
    text-align: center;
    display: flex;
    align-items: center;

}

.contenedor .encabezado .logo{
    width: 10%;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100%;
    border-radius: 3px;
}

.contenedor .encabezado h3{
    text-align: center;
    width: 100%;
}

/* --- menu hamburguesa -- */
#menu, #menu-check{
    display: none;
}



/* ----- estilo nav ---- */
.contenedor .nav{
    height: 2rem;
    background: #0b2239;
    color: #fff;
    display: inline;
    text-align: center;
    padding: 0%;
    box-sizing: border-box;
    margin-bottom: 0.5rem;


 }

/* --- estilo de lista ---- */

.contenedor .nav ul li{
    display: inline;
}

.contenedor .nav ul li a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    margin: 0;
    padding: 0 0.5rem;
}

.nav ul li:hover{
    background: rgb(54, 93, 121);

}



/* ------------------- estilo de main  ------------------- */

.contenedor .contenido{
    background: #fff;
    display: block;
    padding: 2rem 1.5rem;
    margin-bottom: 0.5rem;

}

.contenido .guarda_inicio{
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.guarda_inicio img{
    object-fit: cover;
    width: 100%;
}

.contenedor .contenido .articulo{
    margin: 0.5rem auto 2.5rem auto;
    text-align: justify;
    box-sizing: border-box;
    display:  flex;
    gap: 3%;
}

.contenedor .contenido .articulo .contenedor_img_articulo{
    width: 50%;
    overflow: hidden;
}


.contenedor .contenido .articulo .img_articulo{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-top: 0.6rem;

}
/* ---- transformación con efecto zoom en las img ----*/
.contenedor .contenido .articulo .img_articulo:hover{
    transition: all .5s ease-in;
    transform: scale(1.1);
}


.contenedor .contenido .articulo .texto{
    width: 50%;

}


/* ---------------- estilo footer ------------------*/

.contenedor .pie{
    background: #0b2239;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;

}
/* ---------- iconos --------- */

.contenedor .pie ul li{
    display: inline
}
.contenedor .pie ul li a{
    text-decoration: none;
    color: #fff;
}
.contenedor .pie ul i{
    padding: 0.5rem;
    font-size: 1.2rem
}
.contenedor .pie ul i:hover{
    cursor: pointer;
}


/* ------------------------------------- BREACKPOINTS -------------------------------------- */

@media screen and (max-width: 768px){

    .contenedor{
        display: block;

    }


    .contenedor .nav{
        margin-top: 0.1rem;
        display: flex;
        justify-content: center;
    }


    /* -----*/

    .contenedor .contenido .articulo{
        width: 90%;
        display: block;
    }

    .contenedor .contenido .articulo .contenedor_img_articulo{
        width: 100%;
 
    }

    contenedor .contenido .articulo .img_articulo{
        width: 100%;
    }

    .contenedor .contenido .articulo .texto{
        width: 100%;
    }

}



/* ------ -------- BREAK 450 px-------------------*/

@media screen and (max-width: 450px){


    .contenedor{

        width: 100%;
        margin: 0 auto;
        padding: 0%;
        display: block;
    }

    .contenedor .encabezado{
        font-size: 0.8rem;
        position: fixed;
        width: 100%;
        border-radius: 0;
        margin: 0;
        border-bottom: 2px solid #fff;
    }

    .contenedor .encabezado .logo{
        display: none;
    }

    /* -----*/

    .contenedor .nav{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
         background: #0b2239;
        /* background: none; */
        padding-top: 3.5rem;
        opacity: 0.95;
        margin: 0;
        box-shadow: none;

    }


    .contenedor .nav ul li{
        display: block;
        text-align: center;
        font-size: 0.8rem;
        border-bottom: 1px solid #2a3863;
        width: 15rem;
    }

    .contenedor .nav ul li a{
        color: #fff;
        opacity: 1;
    }

        /* --- menu hamburguesa -- */
    .nav #menu{
            display: flex;
            border: 1px solid;
            border-radius: 4px;
            font-size: 1rem;
            width: 1rem;
            position: absolute;
            top: 0.8rem;
            right: 1rem;
            justify-content: center;
            z-index: 999;

        }
    
        #menu-cerrar{
            display: none;
        }
    
        #menu-check:not(:checked) ~ .navigation {
            display: none;
        }
        #menu-check:checked ~ .navigation {
            display: block;
        }
    
        #menu-check:checked ~ label #menu-abrir {
            display: none;
        }    
        #menu-check:checked ~ label #menu-cerrar {
            display: block;
        }  
    
    
        /* ------ */


    .contenedor .contenido{
        padding: 1%;
        padding-top: 4rem;  /* agrego este padding para que el contenido no quede oculto atras del header*/
    }

    .contenedor .contenido .articulo{
        width: 90%;
        display: block;
    }

    /* -- */
    .contenedor .contenido .articulo .contenedor_img_articulo{
        width: 100%;
 
    }

    .contenedor .contenido .articulo .texto{
        width: 100%;
    }

}