/* importación de íconos de FlatIcon */
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'); /* info - footer */
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'); /* form - alerta/check */

/* Importación de fuentes de google fonts */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(230,230,230);
    color: #000;
    font-family: 'Kanit', sans-serif;
}


.contenedor{
    width: 96%;
    max-width: 1300px;
    display: grid;
    gap: 0.1rem;
    margin: 0.3rem auto; 



    grid-template-columns: 1fr;
}


.contenedor > div,
.contenedor .nav,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .pie {
    padding: 1rem;
    border-radius: 4px;
    box-sizing: border-box;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: -5px 2px 20px gray;
}


/* ---- estilo header ---- */
.contenedor .encabezado{
    background: #0b2239;
    color: #fff;
    font-family: kanit;
    font-weight: 900;
    font-size:xx-large;
    text-align: center;
    display: flex;
    align-items: center;

}

.contenedor .encabezado .logo{
    width: 10%;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100%;
    border-radius: 3px;
}

.contenedor .encabezado h3{
    text-align: center;
    width: 100%;
}


/* ----- estilo nav ---- */
.contenedor .nav{
    height: 2rem;
    background: #0b2239;
    color: #fff;
    display: inline;
    text-align: center;
    padding: 0%;
    box-sizing: border-box;
    margin-bottom: 0.5rem;



 }

/* --- estilo de lista ---- */

.contenedor .nav ul li{
    display: inline;
    font-weight: 600;
}

.contenedor .nav ul li a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    margin: 0;
    padding: 0 0.5rem;
}

.nav ul li:hover{
    background: rgb(54, 93, 121);

}

/* ------------------- estilo de main  ------------------- */
.contenedor .contenido{
    background: #fff;
    display: block;
    gap: 5%;
    padding: 3%;
    margin-bottom: 0.5rem;

}

.contenedor .contenido .articulo{
    overflow: hidden;
    margin: 0 auto 2.5rem auto;
    box-sizing: border-box;
    display: block;
    /*--*/
    width: 100%;
    box-sizing: border-box;

}

.contenedor .contenido .articulo .img_articulo{
    display: flex;
    justify-content: center;
}
.contenedor .contenido .articulo img{
    width: 100%;

}

.contenedor .contenido .articulo .texto{
    width: 80%;
    text-align: justify;
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
}
.texto h1{
    text-align: center;
    margin-bottom: 0.7rem;
}

.contenido .articulo iframe{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------- estilo Info --------------*/

.equipo{
    text-align: center;
    margin-top: 2rem;
    padding: 0.5rem;
   
}

.equipo h2{
    margin-bottom: 2rem;
}

.equipo .caja_integrantes{
    width: 98%;
    background-color: rgb(241, 237, 237);
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 5px;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: -2px 1px 15px rgb(160, 159, 159);
    box-sizing: border-box;
}

.equipo .contenedor_integrantes{
    display: flex;
    justify-content: space-evenly;
}

.equipo .integrante{
     background-color: #7a7878;
     border-radius: 10px;
     overflow: hidden;
     margin: 1.5rem;
     box-shadow: -5px 2px 20px gray;
}

.equipo .integrante p{
    margin: 0.5rem 0;
    color: white;
}

/* ----  autoridades ---- */

.equipo #integrante_autoridades{

    margin: 1.5rem 1rem;
    padding:  0.1rem 1rem;
    overflow: hidden;
}


/* ------------ galeria seccion historia -------- */

.articulo .galeria_contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 25rem;
    gap: 1rem;
    margin: 0 auto;
    width: 80%;

}
.articulo .galeria_contenedor .galeria_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
/* -------------------- estilo formulario ---------------*/

.contenedor_form{
    width: 70%;
    height: auto;
    margin: 1rem auto;
    border-radius: 10px;
    padding: 2rem;
    background-color: #fbfbfb;
    border-color: #1e5b97;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;

}

.contenedor_form h1{
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 1rem;
    color: #1e5b97;

}

.contenedor_form h3{
    font-size: 1.1rem;
    text-align: center;
    padding-bottom: 0.5rem;
    color: #0e0e0e;
}

.form_grupo{
    margin-bottom: 1.5rem;
}

.grupo_input{
    position: relative;
    margin-bottom: 0.1rem;
}
.form_input{
    background-color: #fbfbfb;
    width: 100%;
    height: 2.2rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #1e5b97;
    margin: 0.1rem 0;
    padding: 0.1rem 0.5rem;
    box-sizing: border-box;
}

.form_input:focus{
    outline:0;
    border: 3px solid #294fcc;
}

::-webkit-input-placeholder {
    color: #a8a8a8;
}

.form_inputError{
    font-size: 0.8rem;
    color: #bb2929;
    display: none;
}

.form_inputError_activo{
    display: block;
}

.form_validacion{
    position: absolute;
    right: 1rem;
    bottom: 0.2rem;
    z-index: 100;
	font-size: 1.1rem;
	opacity: 0;
}

.contenedor_form label{
    font-size: 1rem;
    color: #0e0e0e;
}

.contenedor_form span{
    color: #1e5b97;
}

.contenedor_form .aviso{
   font-size: 0.8rem;
   color: #0e0e0e;
}

.contenedor_form button{
    width: 100%;
    padding: 0.5rem ;
    margin: 0.8rem auto;
    text-transform: uppercase;
    background-color: #3a9cb7;
    border-color: #3a9cb7;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
}

.contenedor_form button p{
    margin: 0;
    font-size: 0.8rem;
    color: #fff;
}

.submit_msj{
    height: 1.8rem;
    line-height: 1.8rem;
    border-radius: 3px;
    margin: 0.2rem 0;
    width: 100%;
    text-align: center;
}

.submit_msj .msj_alerta{
    background: #e7af14;
    display: none;
}

.submit_msj .msj_exito{
    background: #5ef140;
    display: none;
}

.submit_msj .msj_alerta_activo{
    display: block;
}
.submit_msj .msj_exito_activo{
    display: block;
}

/* ---- FORM Validación ---*/
.form_grupo_correcto .form_validacion{
    color: #1ed12d;
    opacity: 1;
}

.form_grupo_incorrecto .form_validacion{
    color: #bb2929;
    opacity: 1;
}



/* ------ estilo footer --------*/

.contenedor .pie{
    background: #0b2239;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    /* grid-area: pie; */
}

/* ---------- iconos --------- */

.contenedor .pie ul li{
    display: inline
}
.contenedor .pie ul li a{
    text-decoration: none;
    color: #fff;
}
.contenedor .pie ul i{
    padding: 0.5rem;
    font-size: 1.2rem
}
.contenedor .pie ul i:hover{
    cursor: pointer;
}



/* ------------------------------------- BREACKPOINTS -------------------------------------- */

@media screen and (max-width: 768px){


    .contenedor{
        display: block;

    }

    .contenedor .nav{
        margin-top: 0.1rem;
        display: flex;
        justify-content: center;
    }


    /* -----*/

    .contenedor .contenido .articulo{
        width: 100%;
        display: block;
    }

    .contenedor .contenido .articulo img{
        width: 100%;
    }

    .contenedor .contenido .articulo .texto{
        width: 90%;
    }

    .contenedor .contenido .articulo iframe{
        width: 80%;
    }

    .contenedor .contenido .articulo .contenedor_form{
        width: 90%;
    }
    .form_validacion{
        margin: 0;
    }

    /* ---- integrantes --- */

    .equipo .contenedor_integrantes{
        display: block;
    }
    .equipo .integrante{
        justify-content: center;
    }
    
    .articulo .galeria_contenedor{
        display: grid;
        grid-template-columns:  1fr 1fr;
        width: 95%;
   
    }

}



/* --------------- -------- BREAK 450 px------------------------*/

@media screen and (max-width: 450px){


    .contenedor{
        display: block;
        width: 99%;
        margin: 0 auto;
        padding: 0%;


    }

    .contenedor .encabezado h3{
        font-size: 1.2rem;
    }
    .contenedor .encabezado .logo{
        display: none;
    }

    .contenedor .nav{
        display: block;
        height: auto;
    }


    .contenedor .nav ul li{
        display: block;
        text-align: center;
        font-size: 0.8rem;
        border-bottom: 1px solid #2a3863;
    }


    /* -----*/

    .contenedor .contenido{
        padding: 1%;
    }

    .contenedor .contenido .articulo{
        width: 100%;
        display: block;
    }

    .contenedor .contenido .articulo img{
        width: 100%;

    }

    .contenedor .contenido .articulo .texto{
        width: 90%;
    }

    .contenedor .contenido .articulo iframe{
        width: 100%;
    }

    .contenedor .contenido .articulo .contenedor_form{
        width: 100%;
    }

    .articulo .galeria_contenedor{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 25rem;
        width: 90%;
   
    }
}



