/* importación de íconos de FlatIcon */
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

*{
    margin: 0;
    padding: 0;

}
body{
    background: rgb(230,230,230);
    color: #000;
    font-family: 'Kanit', sans-serif;

}

.contenedor{


    width: 90%;
    max-width: 1200px; /*ancho máximo de la página*/
    margin: 20px auto; /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 20px; /*nos ahorramos tenes que poner márgenes entre los elementos*/

    /*cantidad de columnas*/
    grid-template-columns: repeat(4,1fr);

    /* filas: nav, header, contenido, footer*/
    grid-template-rows: auto;

    grid-template-areas: "encabezado encabezado encabezado encabezado"
                         "nav nav nav nav"
                         "contenido contenido contenido contenido"
                         "pie pie pie pie";


}


.contenedor > div,
.contenedor .nav,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .pie {
    padding: 1rem;
    border-radius: 4px;
    box-sizing: border-box;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: -5px 2px 20px gray;

}


/* ---- estilo header ---- */
.contenedor .encabezado{
    background: #0b2239;
    color: #fff;
    font-family: kanit;
    font-weight: 900;
    font-size:xx-large;
    text-align: center;
    grid-area: encabezado;
    display: flex;
}

.contenedor .encabezado .logo{
    width: 8%;
    display: flex;
    align-items: center;

}

/* ----- estilo nav ---- */
.contenedor .nav{
    background: #0b2239;
    color: #fff;
    grid-area: nav;

    display: inline;
    text-align: center;
}



/* --- estilo de lista ---- */

.contenedor .nav ul li{
    display: inline;
    font-weight: 600;
    padding:  0.5rem;
}
.nav ul li:hover{
    background: grey;
}

.contenedor .nav ul li a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}




/* ------------------- estilo de main  ------------------- */
.contenedor .contenido{
    background: #fff;
    display: block;
    grid-area: contenido;
    gap: 5%;
    padding: 3%;

}

.contenedor .contenido .articulo{
    overflow: hidden;
    margin: 0.5rem 1rem 2.5rem 1rem;
    box-sizing: border-box;
    display: block;

}

.contenedor .contenido .articulo .img_articulo{
    display: flex;
    justify-content: center;
}
.contenedor .contenido .articulo img{
    width: 80%;

}

.contenedor .contenido .articulo .texto{
    width: 80%;
    text-align: justify;
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
}

.contenido .articulo iframe{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* -------------------- estilo formulario ---------------*/

.contenedor_form{  
    width: 70%;
    height: auto;
    margin: 2rem auto;
    border-radius: 10px;  
    padding: 2rem;
    background-color: #fbfbfb; 
    border-color: #5444ab; 
    border-style: solid; 
    border-width: 1px; 
    box-sizing: border-box;
    
}

.contenedor_form input{
    background-color: #fbfbfb; 
    width: 100%;
    height: 2.2rem; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #5444ab; 
    margin-top: 0.1rem;  
    margin-bottom: 1.2rem; 
    padding: 0.1rem 0.5rem;
    box-sizing: border-box;
}



.contenedor_form button{
    width: 100%;  
    padding: 0.5rem ;
    margin: 0.8rem auto;
    text-transform: uppercase;
    background-color: #5444ab; 
    border-color: #5444ab; 
    border-style: solid; 
    border-radius: 10px;  
    cursor: pointer;
}

.contenedor_form button p{
    font-size: 0.8rem;
    color: #fff; 
}

contenedor_form span{
     color: #5444ab; 
}

.contenedor_form .aviso{
    font-size: 0.8rem;  
    color: #0e0e0e;  
}

.contenedor_form h1{
    font-size: 2.5rem;  
    text-align: center; 
    padding-bottom: 1rem; 
    color: #5444ab;
 
}

.contenedor_form h3{
    font-size: 1.1rem; 
    padding-bottom: 0.5rem;
    color: #0e0e0e;   
}

.contenedor_form label{
    font-size: 1rem; 
    color: #0e0e0e; 
}

::-webkit-input-placeholder {
    color: #a8a8a8;
}


.formulario input:focus{
    outline:0;
    border: 1px solid #cc8529;
}


/* ------ estilo footer --------*/

.contenedor .pie{
    background: #0b2239;
    color: #fff;
    text-align: center;
    grid-area: pie;
}

.contenedor .pie .iconos{
    margin: 0.5rem;
}

.contenedor .pie ul i{
    padding: 0.5rem;
}
.contenedor .pie ul i:hover{
    cursor: pointer;
}

/* ------------------------------------- BREACKPOINTS -------------------------------------- */

@media screen and (max-width: 768px){

    *{
        margin-bottom: 0.5rem;
    }

    .contenedor{
        display: block;
        /*2 columnas: contenido  */
        grid-template-columns: repeat(2,1fr);

        grid-template-areas: "encabezado encabezado"
                             "nav nav"
                             "articulo articulo"
                             "pie pie";
    }

    .contenedor .nav{
        display: flex;
        justify-content: center;


    }


    /* -----*/

    .contenedor .contenido .articulo{
        width: 90%;
        display: block;
    }

    .contenedor .contenido .articulo img{
        width: 95%;
    }

    .contenedor .contenido .articulo .texto{
        width: 90%;
    }
    
    .contenedor .contenido .articulo iframe{
        width: 80%;
    }

    .contenedor .contenido .articulo .contenedor_form{
        width: 90%;
    }
}



/* --------------- -------- BREAK 450 px------------------------*/

@media screen and (max-width: 450px){

    *{
        margin-bottom: 0.5rem;
    }

    .contenedor{
        display: block;


        grid-template-areas:
                             "encabezado"
                             "nav"
                             "contenido"
                             "pie";
    }

    .contenedor .encabezado .logo{
        display: none;
    }

    .contenedor .nav{
        display: block;
    }


    .contenedor .nav ul li{
        display: block;
        text-align: center;

    }


    /* -----*/

    .contenedor .contenido .articulo{
        width: 90%;
        display: block;
    }

    .contenedor .contenido .articulo img{
        width: 100%;

    }

    .contenedor .contenido .articulo .texto{
        width: 90%;
    }

    .contenedor .contenido .articulo iframe{
        width: 100%;
    }

    .contenedor .contenido .articulo .contenedor_form{
        width: 100%;
    }
}



